#wrapper { 	
overflow: hidden; /* This hides the excess padding in non-IE browsers */ 
}
/* easy clearing */
#wrapperX:after
	{
	content: '[ ]'; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}
#wrapper
	{
	display: inline-block;
	}
/*\*/
#wrapper
	{
	display: block;
	}
/* end easy clearing */
#footer
	{
	clear: both;
	}
#header, #footer
	{
	}
/* Safari needs this - otherwise the ghost overflow, though painted 
correctly obscures links and form elements that by rights should be above it.
An unintended side-effect is that it cause such elements to vanish in IE 5.01
and 5.5, hence the child selector hack */
* > #block_3, * > #footer, * > form, * > #notes, * > .output
	{
	position: relative;
	z-index: 1000;
	}