.idea
.DS_Store
deploy
deployClasses
letsencrypt/pente.org/
tmpTools
liveGameRoom
renewSSL
updateDevelopment
updateDevelopmentHTMLjs
updateProduction
updateProductiontHTMLjs
docker*/db/
dockerMain/config/
dockerMain/logs/
dockerMain/etctomcat9/
dockerMail/
.env
*.sql.gz
settings.jar
testMail
MyDSKeyStore.jks
*.crt
*.key
*.p12
dsg_src/db2/
config/
