.idea
.DS_Store
deploy
deployClasses
letsencrypt/pente.org/
tmpTools
liveGameRoom
renewSSL
updateDevelopment
updateDevelopmentHTMLjs
updateProduction
updateProductiontHTMLjs
letsencrypt/pente.org/
docker*/db/
dockerMain/config/
dockerMain/logs/
dockerMain/etctomcat9/
dockerMail/
.env
*.sql.gz
settings.jar
testMail
MyDSKeyStore.jks
letsencrypt/pente.org/chain.crt
letsencrypt/pente.org/fullchain.crt
letsencrypt/pente.org/fullchain_and_key.p12
letsencrypt/pente.org/pente.org.crt
