.idea
.DS_Store
deploy
deployClasses
letsencrypt
tmpTools
liveGameRoom
renewSSL
updateDevelopment
updateDevelopmentHTMLjs
updateProduction
updateProductiontHTMLjs
letsencrypt/pente.org/
testMariaDB
testDocker
.env
testMariaDBreplica
*.sql.gz
settings.jar
testMail
