body, div, dl, dt, dd, ul, ol {
    margin: 0;
    padding: 0;
}

fieldset, img, abbr {
    border: 0;
}

body {
    background: #fff url(/res/g.png) center top repeat-x;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
}

td, th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.b {
    font-weight: bold;
}

.s {
    font-size: 10px;
    color: gray;
}

ol li, ul li {
    margin-left: 20px;
}

.fail {
    font-weight: bold;
    font-size: 14px;
    color: #ff8105;
}

a, a:link, a:visited {
    color: #2C862F;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    margin: 0 auto 6px auto;
    width: 950px;
}

#header {
    position: relative;
    height: 68px;
    width: 930px;
    padding-left: 10px;
}

#header h1 {
    margin: 0;
    padding: 0;
}

#header h1 a {
    background: url(/res/logo.png) left no-repeat;
    display: block;
    width: 212px;
    height: 68px;
    text-indent: -9999px;
    float: left;
    text-decoration: none;
}

#header h1 a, h1 a:link, h1 a:visited {
    text-decoration: none;
    color: #2C862F;
    font-weight: bold;
}

#header h1 a:hover {
    text-decoration: underline;
}

ul#topnav {
    margin-right: 5px;
    float: right;
    width: 670px;
    list-style: none;
    clear: right;
    text-align: right;
}

ul#topnav li {
    float: right;
    height: 32px;
    border: 1px solid white;
    background: #e5e5e5;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    -moz-border-radius-topleft: 3px;
    -khtml-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -khtml-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: 3px;
    line-height: 32px;
}

ul#topnav li a {
    text-align: middle;
    font-size: 14px;
    color: black;
    padding: 0 8px;
    text-decoration: none;
}

ul#topnav li a.current {
    color: #555;
    text-decoration: none;
}

ul#topnav li:hover {
    background: #f9f731;
}

.pagebody {
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 10px;
}


#search {
    float: right;
    height: 28px;
    padding-top: 6px;
    margin-top: 0 !important;
    margin-right: 5px;
}

#intro {
    padding: 0 0 0 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
}

#intro h6 {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #888;
    float: left;
}

#intro h6 span {
    font-size: 16px;
    font-weight: normal;
    color: #000;
}

#intro h2 {
    font-size: 22px;
    line-height: 1.2em;
    margin-bottom: 6px;
    margin-top: 0;
    clear: both;
}

#signupnow {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px 10px 24px 0px;
    background: #fffbcc;
    border: 1px solid #e6db55;
    /*height:86px;*/
    display: inline-block;
    padding-top: 24px;
}

#signupnow h2 {
    font-size: 24px;
    color: #444;
    text-align: center;
}

#signupnow-text {
    width: 57%;
    float: left;
}

#signupnow-button {
    width: 226px;
    height: 63px;
    float: left;
    font-size: 24px;
    text-align: center;
}

#signupnow-button a {
    display: block;
    color: #fff;
    width: 226px;
    height: 63px;
    line-height: 60px;
    background: url(/res/signupbackground.gif) center top no-repeat;
    text-shadow: #1e6c8f 2px 2px 0px;
    letter-spacing: -1px;
}

#signupnow-button a:hover {
    text-decoration: underline;
    background: url(/res/signupbackground.gif) center bottom no-repeat;
    text-shadow: #b8441c 2px 2px 0px;
}

#signupnow h2 {
    margin-top: 2px;
}

#signupnow h4 {
    margin-top: 5px;
    margin-left: 0;
    font-size: 14px;
    line-height: 1em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#signupnow h4 a {
    color: #2583ad;
}

#signupnow h4 a:hover {
    color: #d24d20;
}

#signupnow p {
    font-size: 10px;
    font-style: italic;
    text-align: center;
}

#login {
    margin: 0 0 16px 0;
    background: #deecde;
}

#login input#login-form {
    font-size: 10px;
}

#login .head {
    border-top: 1px solid #c6d9e9;
    /*background:#2C862F;*/
    background: url(g.png) center bottom repeat-x;
    color: white;
    font-weight: bold;
    padding: 7px 12px 8px 12px;
}

#login form {
    margin: 6px 0 12px 12px;
    padding-bottom: 12px;
}

#login form label {
    font-size: 11px;
}

#login form table tr td input#password2,
#login form table tr td input#name2 {
    margin: 0px 0;
    padding: 0;
    width: 75px;
}

#login p {
    font-size: 10px;
    margin: 0 12px 0 0;
}

#login p.submit {
    float: right;
    font-size: 10px;
}

#login p.lost {
    clear: both;
    padding-top: 5px;
}


#left {
    background: #fff;
    padding: 0 12px 24px 0px;
    float: left;
    width: 180px;
}

#text {
    padding: 0 0px;
    float: left;
    width: 560px;
}

#right {
    background: #fff;
    padding: 0 0 12px 12px;
    float: left;
    width: 180px;
}

#footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 5px;
    color: black;
    height: 15px;
    width: 900px;
    border-top: 1px solid #e5e5e5;
    padding-left: 20px;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
    text-align: right;
}

.name a, .name a:visited {
    font-weight: normal;
    color: black;
    text-decoration: none;
}

.name a:hover {
    font-weight: normal;
    color: black;
    text-decoration: underline;
}

.box {
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 2px;
    margin-right: 2px;
    background: #deecde;
}

.boxhead {
    text-align: left;
    background: #2C862F;
    padding: 2px;
}

.boxhead h4 {
    margin: 0;
    padding: 0;
    color: #ffec49;
    font-weight: bold;
}

.boxhead select, .boxhead option {
    font-size: 10px;
}

.boxcontents {
    text-align: left;
    background: #deecde;
    padding: 4px;
}

.boxcontents table {
    border-collapse: collapse;
}

.boxcontents td {
    text-align: left;
    font-weight: normal;
    font-size: 10px;
}

.boxcontents th {
    text-align: left;
    font-weight: bold;
    font-size: 10px;
}

.boxload {
    background: white url(/gameServer/images/loading.gif) center center no-repeat;
}

.button {
    padding: 10px;
    float: left;
    margin-left: 5px;
    border: 1px solid #1a5888;
    background: #2982c6;
    width: 75px;
    text-decoration: none;
    color: white;
}

.button:hover {
    background: #ff5f27;
    text-decoration: none;
}

a.boldbuttons {
    background: transparent url('/gameServer/images/roundedge-blue-left.gif') no-repeat top left;
    display: block;
    float: left;
    font: bold 13px Arial; /* Change 13px as desired */
    line-height: 22px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 30px) */
    height: 30px; /* Height of button background height */
    padding-left: 8px; /* Width of left menu image */
    text-decoration: none;

}

a:link.boldbuttons, a:visited.boldbuttons, a:hover.boldbuttons, a:active.boldbuttons {
    color: white; /*button text color*/
}

a.boldbuttons span {
    background: transparent url('/gameServer/images/roundedge-blue-right.gif') no-repeat top right;
    display: block;
    padding: 4px 10px 4px 2px; /*Set 10px to be equal or greater than'padding-left' value above*/
}

a:hover.boldbuttons { /* Hover state CSS */
    text-decoration: underline;
}


.buttonwrapper { /* Container you can use to surround a CSS button to clear float */
    overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
    width: 100%;
    position: relative;
}
                    
